body {
    width: 100%;
    height: 100vh;
  }
  
  .main {
    background-image: linear-gradient(to bottom right, rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)), url("/images/lion.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
  }

  .main-container {
    background: rgba(229, 225, 192, 0.6);
    border-radius: 5px;
    padding-bottom: 1rem;
    margin-top: 0.6rem;
   }

   .head-container {
    padding-top: 4rem;
    color: black;
  }
  
  .head-container h2 {
    text-align: center;
  }
  
  .head-container p {
    font-size: 1.2rem;
  }

  .form-1 {
    background: rgba(229, 225, 192, 0.6);
    padding: 1.4rem;
    border-radius: 5px;
    width: 50%;
    height: 60vh;
    font-size: 1.3rem;
  }